<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Style/MainStyle")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/Script/RequireJs")
    <script src="~/node_modules/requirejs/require.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
